<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile class="tileTitle">
    <h3>Who we are </h3>
  </mat-grid-tile>
  <mat-grid-tile>
    <p class="pAbout">
      FindaSitter is the world's leading au pair agency on the Internet. On www.findasitter.com, au pairs and host families can
      find each other by their own initiative, quickly and directly. Our users benefit not only from the greatest choice
      of au pairs and host families worldwide but also from the dedicated support of our highly experienced team. Since its
      foundation in 1999, more than 3 million au pairs and host families have registered on FindaSitter . In 2017, no less
      than 52,500 host families and 221,000 au pairs relied on our services.

    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p class="pAbout">FindaSitter offers au pairs and host families the possibility to search for each other using simple, specially designed
      web-based tools. The first step is to register for free on www.findasitter.com. All our users then receive suggestions
      of matching profiles according to their personal search criteria and can send so-called standard messages on FindaSitter
      to get in touch with their favourite candidates. As soon as they wish to exchange personal messages, the host family
      can decide to become a Premium Member.
    </p>
  </mat-grid-tile>
  <mat-grid-tile class="tileTitle">
    <h3>How it works </h3>
  </mat-grid-tile>

</mat-grid-list>
