<mat-grid-list id="listContact" cols="1" rowHeight="50px">
  <mat-grid-tile>
    <h5>FindaSitter Aps </h5>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>Lygten 27, 2400 Copenhagen, Denmark</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>Phone:+49 561 310 561 17 </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>Fax:+49 561 31 0561 39 </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>Email:support@findasitter.com</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <a>Contact form </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <p class="bold">Office hours: </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>Monday to Friday from 8:00 a.m. to 12:30 p.m. CET </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p> Monday to Thursday from 2:00 p.m. to 6:00 p.m. CET</p>
  </mat-grid-tile>
</mat-grid-list>
